<!--The content below is only a placeholder and can be replaced.-->

<h1 class="h1css">{{service.title}}</h1>
<form class="login-form" #passwordRecoveryForm="ngForm">
  <h3>Password Recovery</h3>
  <mat-form-field class="login-full-width">
    <input matInput placeholder="Please enter your email" maxlength="255" name="useremail" [(ngModel)]="userEmaidid" #offEmail="ngModel" [pattern]="emailPattern"
      required>
    <mat-error *ngIf="offEmail.errors && offEmail.errors.required">
      Email required.
    </mat-error>
    <mat-error *ngIf="offEmail.errors && offEmail.errors.pattern">
      Email not valid.
    </mat-error>
  </mat-form-field><br/>  
 
  <button class="loginbtn" *ngIf="passwordRecoveryForm.form.valid" mat-button (click)="sendEmail()">Send the link</button><br/>
  <button class="loginbtn" *ngIf="!passwordRecoveryForm.form.valid" mat-button style="background-color: #d3d3d9 !important;" [disabled]="!passwordRecoveryForm.form.valid">Send the link</button><br/>
  <a class="forgotlabelcss" routerLink="/login" routerLinkActive="active">< Back to login</a>
  <p *ngIf="service.isemailSend">{{service.message}}</p>
</form>