<h1 class="h1css">{{service.title}}</h1>
<form class="login-form" #loginForm="ngForm">
 <div *ngIf="service.isReset">
  <h3>Reset Password</h3> 
  <mat-form-field class="login-full-width">
    <input type="password" maxlength="150"  (input)="validatePassword()" matInput placeholder="Enter new password" autocomplete="off" name="password" [(ngModel)]="userPassword" #password="ngModel" required>
    <mat-error *ngIf="password.errors && password.errors.required">
        Password required.
    </mat-error>    
  </mat-form-field>
  <mat-form-field class="login-full-width">
    <input type="password" maxlength="150" (input)="validatePassword()"  matInput placeholder="Enter confirm password" autocomplete="off" name="confirmPassword" [(ngModel)]="ConfirmPassword" #confirmPassword="ngModel" required>
    <mat-error *ngIf="confirmPassword.errors && confirmPassword.errors.required">
       Confirm password required.
    </mat-error>    
  </mat-form-field>
  <mat-error class="materror" *ngIf="validatePassword()">
   Password mismatched
 </mat-error>    
  <br/>
  <button class="loginbtn" [class.disabled]="isvalid" mat-button (click)="changePassword()">Change password</button><br/> 
</div>
<div *ngIf="!service.isReset">
  <h3>{{service.message}}</h3> 
</div>
</form>
